@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color-theme: #2c3136;
  --background-color-theme: 0, 0, 0;
  --h-screen: 100dvh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color-theme: 0, 0, 0;
    --background-color-theme: #434B55;
  }
}

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
